@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

body {
  background-color: #5b2386;
  font-family: "GmarketSansMedium";
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-header {
  margin-top: 140px;
}

.tit-timelaw {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tit__clock-img {
  width: 222px;
  height: 225px;
}

.tit__txt-img {
  width: 564px;
  position: absolute;
}

.txt-quote {
  margin-top: 46px;
  font-size: 36px;
  font-weight: 700;
  font-family: "OTEnjoystoriesBA";
  color: #f5df4d;
  display: flex;
  justify-content: center;
}

.tit-desc {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
}

.txt-desc {
  position: absolute;
  text-align: center;
  line-height: 1.9em;
  top: -15px;
}

.txt-desc strong {
  font-size: 24px;
  font-family: "GmarketSansBold";
}

.cont-inp {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt-wannabe,
.txt-time {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

.txt-wannabe {
  margin-bottom: 27px;
}

.cont-inp input {
  width: 228px;
  padding: 17px;
  margin: 0 17px;
  border-radius: 7px;
  border: none;
  font-size: 24px;
  text-align: center;
}

.cont-inp input::placeholder {
  color: #babcbe;
  text-align: center;
}

.cont-btn {
  margin-bottom: 147px;
}

.btn-exc {
  margin-top: 115px;
  border-radius: 56px;
  background-color: #fcee21;
  font-size: 24px;
  color: #5b2386;
  font-family: "GmarketSansBold";
  padding: 20px 49px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes loadingRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result-loading {
  display: none;
  margin-bottom: 136px;
}

.result-loading img {
  width: 100px;
  animation: loadingRotate 1s linear infinite forwards;
}

.cont-btn {
  position: relative;
}

.img-click {
  position: absolute;
  bottom: -17px;
  right: -70px;
}

.cont-result {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 136px;
}

.cont-result h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.cont-result strong {
  font-size: 72px;
  font-family: "GmarketSansBold";
  margin: 0 12px;
}

.result-btn {
  margin-top: 127px;
  display: flex;
  align-items: center;
}

.btn-go,
.btn-share {
  padding: 20px 49px;
  font-size: 24px;
  font-family: "GmarketSansBold";
  border-radius: 56px;
  border: none;
  color: #5b2386;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-go {
  background-color: #fcee21;
}

.btn-share {
  margin-left: 18px;
}

.cont-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-bottom: 60px;
}

.cont-footer img {
  margin-bottom: 20px;
}

.txt-footer {
  line-height: 17px;
}

.modal {
  position: fixed;
  top: 100%;
  left: 100%;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.cont-modal {
  width: 800px;
  height: 800px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-txt {
  font-family: "OTEnjoystoriesBA";
  text-align: center;
  color: #5b2386;
  font-size: 40px;
}

.modal-txt strong {
  font-size: 96px;
}

.cont-modal img {
  width: 370px;
  margin: 74px 0;
}
